<div class="footer">
    <img class="logo" src="../../../assets/img/logo.png" alt="">
    <ul>
        <h2>Carlos Dantas</h2>
        <li>
            <p>carlosdanats485@gmail.com</p>
        </li>
        <li>
            <p>(11) 98350-2027</p>
        </li>
        <li>
            <p>Full stack developer</p>
        </li>
    </ul>
    <ul>
        <h2>Sobre este projeto</h2>
        <li>
            <a href="https://github.com/Carlosdantas485/CRUD_USERS-Frontend"> Front-End github</a>
        </li>
        <li>
            <a href="https://github.com/Carlosdantas485/CRUD_USERS-Backend"> Back-End github</a>
        </li>
       
    </ul>
    <ul>
        <h2>Redes sociais</h2>
        <li>
            <a href="https://www.facebook.com/profile.php?id=100000660153711"> Facebook</a>
        </li>
        <li>
            <a href="https://www.instagram.com/dantascarlos_/"> Instagram</a>
        </li>
        <li>
            <a href="https://www.linkedin.com/in/carlos-alberto-dantas-filho-a10257195/"> Linkedin</a>
        </li>
        <li>
            <a href="https://github.com/Carlosdantas485"> Github</a>
        </li>
    </ul>
</div>
