<div class="create">
    
    <div class="option-back">
        <a routerLink="/">
            <button>VOLTAR</button>
        </a>
    </div>
    
    <div class="card">
        <h1>Cadastrar usuário</h1>
        <form class="forms">
            <input matInput placeholder="NOME" name="name"/>
            <input matInput placeholder="E-MAIL" name="email"/>
            <input matInput placeholder="CPF" name="cpf"/>
        </form>
        <a routerLink="/">
            <button>ENVIAR</button>
        </a>
    </div>
</div>
