.create{
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.option-back{
    width: 50vw;
    margin-bottom: 20px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgb(56, 56, 56);
    background-color: #389AD3;
}

.card > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card  > a {
    width: 100%;
}

.card > a > button{
    margin-top: 10px;
    width: 100%;
}

.options-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.options-box > a {
    margin-top: 10px;
}

.btn-cancel{
    background-color:  #990827;
}