<div class="create">
    
    <div class="option-back">
        <a routerLink="/">
            <button>VOLTAR</button>
        </a>
    </div>
    <div class="card">
        <h1>CADASTRAR USUÁRIO</h1>
        <form class="forms">
            <input placeholder="NOME" name="name"
            [(ngModel)]="user.name" />
            <input placeholder="E-MAIL" name="email"
            [(ngModel)]="user.email"/>
            <input placeholder="CPF" name="cpf"
            [(ngModel)]="user.cpf"/>
        </form>
        <div class="options-box">
            <a routerLink="/">
                <button class="btn-send" (click)="createUser()">ENVIAR</button>
            </a>
            <a routerLink="/" >
                <button class="btn-cancel">CANCELAR</button>
            </a>
        </div>
        
    </div>
</div>
