<div class="edit">
    <div class="option-back">
        <a routerLink="/">
            <button>VOLTAR</button>
        </a>
    </div>

    
    <div class="card">
        <h1>EDITAR USUÁRIO</h1>
        <div class="user">
            <p>NUMERO DA CONTA: 1</p>
            <p>NAME: Carlos Alberto Dantas Filho</p>
            <p>E-MAIL: carlosdantas485@gamil.com</p>
            <p>CPF: 12345678912</p>
        </div>
        <form class="forms">
            <input placeholder="NOME" name="name"/>
            <input placeholder="E-MAIL" name="email"/>
            <input placeholder="CPF" name="cpf"/>
        </form>
        <a routerLink="/">
            <button>ENVIAR</button>
        </a>
    </div>
</div>