<div class="edit">
    <div class="card">
        <h1>EDITAR USUÁRIO</h1>
        <div class="user">
            <p>NUMERO DA CONTA: {{user.id}} </p>
            
        </div>
        <form class="forms">
            <input placeholder="NOME" name="name"
            [(ngModel)]="user.name"/>
            <input placeholder="E-MAIL" name="email"
            [(ngModel)]="user.email"/>
            <input placeholder="CPF" name="cpf"
            [(ngModel)]="user.cpf"/>
        </form>
        <div class="options-box">
            <a routerLink="/">
                <button (click)="updateUser()">EDITAR</button>
            </a>
            <a routerLink="/" >
                <button class="btn-cancel" >CANCELAR</button>
            </a>
        </div>
    </div>
</div>