.edit{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.option-back{
    width: 50vw;
    margin-bottom: 20px;
}

.card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    padding: 10px;
    box-shadow: 1px 1px 5px 1px rgb(56, 56, 56);
    background-color: #389AD3;
}

.card > form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card  > a {
    width: 100%;
}

.card > a > button{
    margin-top: 10px;
    width: 100%;
}

.card > .user {
    width: 100%;
    padding: 5px;
}

.forms{
    margin-top: 20px;
}