<div class="delete">
    <div class="card">
        <h1>EDITAR USUÁRIO</h1>
        <div class="user">
            <p>NUMERO DA CONTA: {{user.id}} </p>
            <p>NUMERO DA CONTA: {{user.name}} </p>
            <p>NUMERO DA CONTA: {{user.email}} </p>
            <p>NUMERO DA CONTA: {{user.cpf}} </p>
        </div>
        <div class="options-box">
            <a routerLink="/" >
                <button class="btn-send" (click)="deleteUser()">DELETAR</button>
            </a>
            <a routerLink="/" >
                <button class="btn-cancel">CANCELAR</button>
            </a>
        </div>
       
    </div>
</div>