a,h1{
    margin: 0;
}
.home{
    width: 100%;
    min-height: 30vw;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    width: 70vw;
    display: flex;
    align-items: center;
}

.forms{
    width: 100%;
    display: flex;
}

.forms > input{
    width: 100%;
    height: 30px;
    background-color: transparent;
}

.forms > input::placeholder{
    height: 30px;
    background-color: transparent;
}

.search{
    padding: 5px 30px;
    border-radius: 50px;
    background-color: #389AD3;
    box-shadow: 1px 1px 3px 1px rgb(56, 56, 56);

    width: 100%;
    display: flex;
    align-items: center;
}

.search > button{
    background-color: transparent;
    width: 40px;
    box-shadow: none;

}

.search > button > i {
    color: black;
}

.btn-add-new-user{
    margin-top: 10px;
}

.title{
    margin-top: 20px;
    width: 70vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users-list{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 70vw;
}

.user{
    margin: 5px;
    width: 300px;
    padding: 10px;
    background-color: rgb(78, 173, 228);
    box-shadow: 1px 1px 5px 1px rgb(56, 56, 56);

}

.options-user{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.edit{
    color: #089944;
}

.remove{
    color: rgb(204, 14, 71);
}

.option{
    background-color: transparent;
    box-shadow: none;
    width: 40px;
}