<div class="home">
    <div class="content">
      <div class="search">
        
        <button type="send">
            <i class="material-icons edit" >
                search
            </i>
        </button>
        <form class="forms">
            <input class="input-cpf" placeholder="CPF" name="cpf"/>
        </form>
      </div>
    </div>
    <button class="btn-add-new-user">
        <a routerLink="/create"><h2>+ Usuário</h2></a>
        
    </button>
    <div class="title">
      <h1>Lista de usuários</h1>
    </div>
    <ul class="users-list"> 
      <li class="user"
      *ngFor="let user of users"
      >
        <div class="options-user">
            <a routerLink="/edit/{{ user.id}}">
                <i class="material-icons edit" >
                    edit
                </i>
            </a>
            <a routerLink="/users">
                <i class="material-icons remove" >
                    delete
                </i>
            </a>
        </div>
        <p>NÚMERO DA CONTA: {{user.id}}</p>
        <p>NOME: {{user.name}}</p>
        <p>EMAIL: {{user.email}}</p>
        <p>CPF: {{user.cpf}}</p>
      </li>
    </ul>
  </div>