<div class="home">
    <div class="content">
      <div class="search">
        
        <button type="send">
            <i class="material-icons edit" >
                search
            </i>
        </button>
        <form class="forms">
            <input class="input-cpf" placeholder="CPF" name="cpf"/>
        </form>
      </div>
    </div>
    <button class="btn-add-new-user">
        <a routerLink="/create"><h2>+ Usuário</h2></a>
        
    </button>
    <div class="title">
      <h1>Lista de usuários</h1>
    </div>
    <ul class="users-list"> 
      <li class="user">
        <div class="options-user">
            <a routerLink="/edit">
                <i class="material-icons edit" >
                    edit
                </i>
            </a>
            <a routerLink="/users">
                <i class="material-icons remove" >
                    delete
                </i>
            </a>
        </div>
        <p>ID</p>
        <p>NAME</p>
        <p>EMAIL</p>
        <p>CPF</p>
      </li>
    </ul>
  </div>