/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #1f112c;
}

.v-midle{
    vertical-align: middle;
}

*{
    outline: none;
    margin: 0;
    padding: 0;
    color: white;
}

button{
    height: 40px;
    background-color:  #089944;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    width: 150px;
    font-weight: bold;
    box-shadow: 1px 1px 5px 1px rgb(56, 56, 56);
}

li{
    list-style: none;
}

input{
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
}

input::placeholder{
    color: white;
}

a{
    text-decoration: none;
}




